<div class="card max-w-xs overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800">
    <a href="product/{{product.id}}">
        <div class="px-4 py-2">
            <h1 class="text-xl font-bold text-gray-800 uppercase dark:text-white">{{ product.name }}</h1>
            <p class="mt-1 text-sm text-gray-600 dark:text-gray-400">{{ product.description }}</p>
        </div>
        <img class="object-cover w-full h-48 mt-2" [src]="product.image" [alt]="product.name">
    </a>
    <div class="price-button-container flex items-center justify-between px-4 py-2 bg-gray-900">
        <h1 class="text-lg font-bold text-white">{{ product.price | currency }}</h1>
        <button (click)="onAddToCart()"
            class="px-2 py-1 text-xs font-semibold text-gray-900 uppercase transition-colors duration-300 transform bg-white rounded hover:bg-gray-200 focus:bg-gray-400 focus:outline-none">
            Añadir al carrito
        </button>
    </div>
</div>