<div class="container">
    <div class="go-back">
        <app-go-back></app-go-back>
    </div>
    <h2>Agregar Nuevo Producto</h2>

    <div class="edit-product-container">
        <form (ngSubmit)="onSubmit(productForm)" #productForm="ngForm" class="edit-product-form">
            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newProduct.name" required>
            </div>
            <div class="form-group">
                <label for="price">Precio:</label>
                <input type="number" class="form-control" id="price" name="price" [(ngModel)]="newProduct.price"
                    required>
            </div>
            <div class="form-group">
                <label for="description">Descripción:</label>
                <textarea class="form-control" id="description" name="description" [(ngModel)]="newProduct.description"
                    required></textarea>
            </div>
            <div class="form-group">
                <label for="image">URL de la Imagen:</label>
                <input type="text" class="form-control" id="image" name="image" [(ngModel)]="newProduct.image" required>
            </div>
            <div class="form-group">
                <label for="clearance">En clearance:</label>
                <input type="checkbox" class="form-check-input" id="clearance" name="clearance"
                    [(ngModel)]="newProduct.clearance">
            </div>
            <div class="form-group">
                <label for="quantity">Cantidad:</label>
                <input type="number" class="form-control" id="quantity" name="quantity"
                    [(ngModel)]="newProduct.quantity" required>
            </div>
            <div class="form-group">
                <label for="stock">Stock:</label>
                <input type="number" class="form-control" id="stock" name="stock" [(ngModel)]="newProduct.stock"
                    required>
            </div>
            <div class="form-group">
                <label for="url">URL del Producto:</label>
                <input type="text" class="form-control" id="url" name="url" [(ngModel)]="newProduct.url" required>
            </div>
            <div class="form-group">
                <label for="category">Categoría:</label>
                <input type="text" class="form-control" id="category" name="category" [(ngModel)]="newProduct.category"
                    required>
            </div>
            <div class="form-group">
                <label for="openPackage">Paquete abierto:</label>
                <input type="number" class="form-control" id="openPackage" name="openPackage"
                    [(ngModel)]="newProduct.openPackage" required>
            </div>
            <button type="submit" class="btn-save">Agregar Producto</button>
        </form>
    </div>
</div>